// All Font settings go here.
$base-font-size         :         16px!default;
$base-line-height       :         24px!default;
$line-height-ratio      :         $base-line-height / $base-font-size;
$serif                  :         Times, "Times New Roman", serif;
$serif-italic           :         Times, "Times New Roman", serif;
$sans-serif             :         Arial, sans-serif;
$sans-serif-italic      :         Arial, sans-serif;
$sans-serif-bold-italic :         Arial, sans-serif;
$sans-serif-bold        :         Arial, sans-serif;