doctype html
html(lang="en")
 include ../layouts/partials/head.jade

 body
  include ../layouts/partials/preloader.jade
  block content
  include ../layouts/partials/build-form.jade
  include ../layouts/partials/footer.jade

  <a href="#0" class="helpPop">What is this?</a>

  include ../layouts/partials/end.jade