doctype html
html(lang="en")
 include ../layouts/partials/head.jade

 body
  include ../layouts/partials/nav.jade
  // include ../layouts/partials/preloader.jade
  block content
  include ../layouts/partials/build-form.jade
  include ../layouts/partials/footer.jade
  include ../layouts/partials/end.jade