/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
storage/database.sqlite
public/img/generated/*.png
public/css/main.css
public/css/main.css.map
public/js/app.js
public/js/app.js.map
