//- specify layout here
extends ./layouts/layout.jade

//- specifiy page title here
block title
	title 404!

//- page content here
block content
	.container
		h1 404
		h3 Great you broke it! Are you happy?