//- specify layout here
extends ./layouts/layout.jade

//- specifiy page title here
block title
 title More to Youth - Gallery

//- page content here
block content

  // Nav
  include /layouts/partials/nav-bg.jade

  div#gallery
    section.gallery-grid
      header
        h1.header.text-center Gallery
      .container
        .row

          // TEMP
          .col-xs-6.col-sm-4
            a(href="#")
              img.img-max(src="/img/gal1.png")
          .col-xs-6.col-sm-4
            a(href="#")
              img.img-max(src="/img/gal2.png")

          @foreach ($allUsers as $currentUser)
          .col-xs-6.col-sm-4
            a(href="/profile/{{$currentUser['facebook_user_id']}}")
              img.img-max(src="/{{ $currentUser['image_path'] }}")
          @endforeach

    // Social band
    include ./layouts/partials/section-social-band.jade

    // How you can help
    include ./layouts/partials/section-help.jade
    //- include ./layouts/partials/share.html


