//- specify layout here
extends ./layouts/layout.jade

//- specifiy page title here
block title
 title More to Youth - Gallery

//- page content here
block content

  // Nav
  include /layouts/partials/nav-bg.jade

  div#gallery
    section.gallery-grid
      .container
        div.row.content-block
          header.col-sm-6
            h2.header Help Us Make a Stand
          div.col-sm-6
            p Our current campaign encourages people to make a statement against teen stereotypes. Help us by creating your own customized profile photo.
            a.btn.btn-main.space-top(href="picture") Create Your Own

        .row
          @foreach ($allUsers as $currentUser)
          .col-xs-6.col-sm-4
            img.img-max(src="/{{ $currentUser['image_path'] }}")
          @endforeach
        div.text-center
          a.btn.btn-main(href="/picture") Create Your Own

    // Social band
    include ./layouts/partials/section-social-band.html

    // How you can help
    include ./layouts/partials/section-help.jade
    //- include ./layouts/partials/share.html


