//- specify layout here
extends ./layouts/layout.jade

//- specifiy page title here
block title
 title More to Youth - Make Yours

//- page content here
block content
  // Preloader
  .preloader
    img(src='img/loader.gif', alt='Preloader image')


  div#picture-steps

    // First Step
    h2.sr-only Choose a word
    section.step

      // Step half top
      .step-half.step-top
        div.container

          header
            h2.header People saw me <br/> as a #[span.selected-word Choose a positive]
            i.fa.fa-times.close
            a.link-area(href="#") Please choose a word

          .step-content
            .step-list#positive-list
              p Choose a word that best describes how you feel on the inside
              ul
                li
                  a(href="#") Nerd
                li
                  a(href="#") Freak
                li
                  a(href="#") Deuchebag
                li
                  a(href="#") Shithead
                li
                  a(href="#") Fart Sniffer
                li
                  a(href="#") Indignant
                li
                  a(href="#") Dork
                li
                  a(href="#") Bully
                li
                  a(href="#") Goody-two-shoes
                li
                  a(href="#") Arrogant
                li
                  a(href="#") Nerd
                li
                  a(href="#") Freak
                li
                  a(href="#") Deuchebag
                li
                  a(href="#") Shithead
                li
                  a(href="#") Fart Sniffer
                li
                  a(href="#") Indignant
                li
                  a(href="#") Dork
                li
                  a(href="#") Bully
                li
                  a(href="#") Goody-two-shoes
                li
                  a(href="#") Arrogant
                li
                  a(href="#") Nerd
                li
                  a(href="#") Freak
                li
                  a(href="#") Deuchebag
                li
                  a(href="#") Shithead
                li
                  a(href="#") Fart Sniffer
                li
                  a(href="#") Indignant
                li
                  a(href="#") Dork
                li
                  a(href="#") Bully
                li
                  a(href="#") Goody-two-shoes
                li
                  a(href="#") Arrogant

      // Step half bottom
      .step-half.step-bottom
        div.container

          header
            h2.header But actually I <br/> was #[span.selected-word Choose a negative]
            i.fa.fa-times.close
            a.link-area(href="#") Please choose a word

          .step-content
            .step-list#negative-list
              p Choose a word that best describes how you feel on the inside
              ul
                li
                  a(href="#") Nerd
                li
                  a(href="#") Freak
                li
                  a(href="#") Deuchebag
                li
                  a(href="#") Shithead
                li
                  a(href="#") Fart Sniffer
                li
                  a(href="#") Indignant
                li
                  a(href="#") Dork
                li
                  a(href="#") Bully
                li
                  a(href="#") Goody-two-shoes
                li
                  a(href="#") Arrogant
                li
                  a(href="#") Nerd
                li
                  a(href="#") Freak
                li
                  a(href="#") Deuchebag
                li
                  a(href="#") Shithead
                li
                  a(href="#") Fart Sniffer
                li
                  a(href="#") Indignant
                li
                  a(href="#") Dork
                li
                  a(href="#") Bully
                li
                  a(href="#") Goody-two-shoes
                li
                  a(href="#") Arrogant

    // Second step
    h2.sr-only Choose a photo
    section.step

      .step-half.step-top
        div.container

          header
            h2.header Choose a Photo
            p We would like to use your Facebook profile picture and no other information

      .step-half.step-bottom
        .persons
          a(href="http://google.com", terget="blank")
            img(src="../img/persons.png")
        .connect.text-center
          a.btn-main(href="#" id="fbLogin") Connect with Facebook
          div(id="status")
          a(href="#" id="fbLogout") Logout of Facebook

    // Third step
    h2.sr-only Choose a color
    section.step

      div.container
        // Image step
        header
          h2.header Choose a Color
          p Click the photo to pick a different color
        .img-color
          img(src="../img/conspiracy-keanu.jpg")
          div.words
            span.word Goody-Two-Shoes
            span.word Delinquent
          div.color-overlay
          a.link-area.cp-fullscreen(href="#", alt="Choose a color for the image overlay")




