//- specify layout here
extends ./layouts/layout.jade

//- specifiy page title here
block title
 title More to Youth - Make Yours

//- page content here
block content

  // Nav
  include /layouts/partials/nav-trans.jade

  div#picture-steps

    // First Step
    h2.sr-only Choose a word
    section.step

      // Step half top
      .step-half.step-top
        div.container

          header
            h2.header People saw me <br/> as a #[span.selected-word Choose a word] #[span.caret]
            i.fa.fa-times.close
            a.link-area(href="#") Please choose a word

          .step-content
            .step-list#positive-list
              p Choose a word that best describes how people wrongfully percieved you
              ul
                li
                  a(href='#') Bitch
                li
                  a(href='#') Nerd
                li
                  a(href='#') Freak
                li
                  a(href='#') Dork
                li
                  a(href='#') Bully
                li
                  a(href='#') Weirdo
                li
                  a(href='#') Troubled
                li
                  a(href='#') Depressed
                li
                  a(href='#') Angry
                li
                  a(href='#') Privileged
                li
                  a(href='#') stuck-up
                li
                  a(href='#') priss
                li
                  a(href='#') aloof
                li
                  a(href='#') angry
                li
                  a(href='#') loudmouth
                li
                  a(href='#') drunk
                li
                  a(href='#') thief
                li
                  a(href='#') misfit
                li
                  a(href='#') outcast
                li
                  a(href='#') desperate
                li
                  a(href='#') thug
                li
                  a(href='#') junkie
                li
                  a(href='#') stoner
                li
                  a(href='#') tramp
                li
                  a(href='#') spaz
                li
                  a(href='#') creep
                li
                  a(href='#') slut
                li
                  a(href='#') wannabe
                li
                  a(href='#') brainiac
                li
                  a(href='#') hater
                li
                  a(href='#') runaway
                li
                  a(href='#') reject
                li
                  a(href='#') wallflower
                li
                  a(href='#') airhead
                li
                  a(href='#') redneck
                li
                  a(href='#') jock
                li
                  a(href='#') spoiled
                li
                  a(href='#') goody-two-shoes
                li
                  a(href='#') geek
                li
                  a(href='#') wild
                li
                  a(href='#') aggressive
                li
                  a(href='#') meathead
                li
                  a(href='#') loner


      // Step half bottom
      .step-half.step-bottom
        div.container

          header
            h2.header But in reality I <br/> was #[span.selected-word Choose a flip word] #[span.caret]
            i.fa.fa-times.close
            a.link-area(href="#") Please choose a word

          .step-content
            .step-list#negative-list
              p Choose a word that best describes how you actually thought of yourself
              ul
                li
                  a(href='#') Thoughtful
                li
                  a(href='#') Alienated
                li
                  a(href='#') Passionate
                li
                  a(href='#') Shy
                li
                  a(href='#') Fragile
                li
                  a(href='#') Driven
                li
                  a(href='#') Conflicted
                li
                  a(href='#') Hungry
                li
                  a(href='#') Misunderstood
                li
                  a(href='#') Distracted
                li
                  a(href='#') Ambitious
                li
                  a(href='#') Talented
                li
                  a(href='#') Spirited
                li
                  a(href='#') Misguided
                li
                  a(href='#') Distraught
                li
                  a(href='#') Overwhelmed
                li
                  a(href='#') well-meaning
                li
                  a(href='#') scattered
                li
                  a(href='#') determined
                li
                  a(href='#') insecure
                li
                  a(href='#') directionless
                li
                  a(href='#') immature
                li
                  a(href='#') survivor
                li
                  a(href='#') resilient
                li
                  a(href='#') introverted
                li
                  a(href='#') bored
                li
                  a(href='#') naïve
                li
                  a(href='#') enthusiastic
                li
                  a(href='#') intense
                li
                  a(href='#') expressive
                li
                  a(href='#') sensitive
                li
                  a(href='#') idealistic
                li
                  a(href='#') brave
                li
                  a(href='#') persistent
                li
                  a(href='#') gifted
                li
                  a(href='#') positive

    // Second step
    h2.sr-only Choose a photo
    section.step

      .step-half.step-top
        div.container

          header
            h2.header Choose a Photo
            p We would like to use your Facebook profile picture.

      .step-half.step-bottom
        .persons
          a(href="http://google.com", terget="blank")
            img(src="../img/persons.png")

        div.clear(id="status")
        .connect.text-center
          a.btn-main.login(href="#" id="fbLogin") Connect with Facebook
          a.btn-main.logout(href="#" id="fbLogout") Logout of Facebook

    // Third step
    h2.sr-only Choose a color
    section.step

      .step-half.step-top

        div.container
          // Image step
          header
            h2.header Choose a Color
          .img-color
            #color-block
              a.color(href="#", data-hex="#2ecc71" style="background-color: #2ecc71;")
              a.color(href="#", data-hex="#3498db" style="background-color: #3498db;")
              a.color(href="#", data-hex="#9b59b6" style="background-color: #9b59b6;")
              a.color(href="#", data-hex="#CA767F" style="background-color: #CA767F;")
              a.color(href="#", data-hex="#F9D085" style="background-color: #F9D085")
            .img-canvas
              @if(Auth::check())
              <img class="img-canvas" src="https://graph.facebook.com/{!! Auth::user()->facebook_user_id !!}/picture?width=720&height=720" />
              @else
              img(, src="../img/no-profile.png")
              @endif
            div.words
              span.word Goody-Two-Shoes
              span.word Delinquent
            div.color-overlay
            a.link-area.cp-fullscreen(href="#", alt="Choose a color for the image overlay",data-fullscreen="true",data-insertcode="true")

      .step-half.step-bottom

  include /layouts/partials/modal-error.jade


