//- specify layout here
extends ./layouts/layout.jade

//- specifiy page title here
block title
 title More to Youth - Profile

//- page content here
block content
  // Preloader
  .preloader
    img(src='img/loader.gif', alt='Preloader image')

  div#profile
    section.hero
      .container
        .table
          .row
            div.col-sm-5
              img.img-max(src="/{{ $user['image_path'] }}")
            div.col-sm-7
              h2.header {{ $user->name }}
              p Next level mixtape, trust fund Brooklyn lumbersexual ennui. Gluten-free fanny pack dreamcatcher cliche, sartorial lo-fi polaroid chia. Vice ennui fap salvia, fashion axe retro sriracha slow-carb asymmetrical whatever. Pickled mixtape art party lo-fi cold-pressed roof party, locavore fixie fanny pack Shoreditch. Photo booth Echo Park whatever, cronut stumptown fap bitters organic meh.

    // Instagram feed
    include ./layouts/partials/section-instagram-grid.jade

    // Social band
    include ./layouts/partials/section-social-band.jade

    // How you can help
    include ./layouts/partials/section-help.jade


