//- specify layout here
extends ./layouts/layout.jade

//- specifiy page title here
block title
 title More to Youth - Profile

//- page content here
block content

  // Nav
  include /layouts/partials/nav-trans.jade

  div#profile
    section.hero_profile
      .container
        .table
          .row
            div.col-sm-5
              img.img-max(src="/{{ $user['image_path'] }}")
            div.col-sm-7
              h2.header {{ $user->name }}
              p Oasis Outreach Center encourages people to make a statement against teen stereotypes. Help us by creating or sharing your own customized profile photo.

              div.btn-actions
                a.btn.btn-main.btn-create(href="/picture") Create Your Own
                include ./layouts/partials/shareButton.jade

    // Instagram feed
    include ./layouts/partials/section-gallery-grid.jade

    // Social band
    include ./layouts/partials/section-social-band.jade

    // How you can help
    include ./layouts/partials/section-help.jade
    //- include ./layouts/partials/share.html


