//- specify layout here
extends ./layouts/layout.jade

//- specifiy page title here
block title
 title More to Youth - Profile

//- page content here
block content

  div#profile
    section.hero_profile
      .container
        .table
          .row
            div.col-sm-5
              img.img-max(src="/{{ $user['image_path'] }}")
            div.col-sm-7
              h2.header {{ $user->name }}
              include ./layouts/partials/shareButton.jade
              p Blurb about Oasis
              a.btn-main(href="/picture") Create Your Own
    // Instagram feed
    include ./layouts/partials/section-gallery-grid.jade

    // Social band
    include ./layouts/partials/section-social-band.jade

    // How you can help
    include ./layouts/partials/section-help.jade
    //- include ./layouts/partials/share.html


