// footer.scss

$footer-font-size: $text-base - 4;
footer.footer {
	clear: both;
	text-align: center;
	@include screen-sm { text-align: left; }
	padding: 35px 0 15px;
	background-color: $brand-color7;

	p {
		font-size: $footer-font-size;
		color: #fff; }

	a {
		font-size: $footer-font-size;
		color: #fff;
		&:hover { color: $brand-accent; }
	}
}


footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

footer .social-footer li:hover a {
	color: $brand-accent;
}
