// nav.scss


// Nav
nav.navbar {
	position: absolute;
	top: 0;
	z-index: 9500;
	width: 100%;
	min-height: 60px;
	margin: 0;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	border-radius: 0;

	.navbar-header { width: 100%; }

}


// Logo
.navbar-brand {
	width: 80px;
  padding: 15px 0 0;
  // Bootstrap override
  margin: 0 !important;
	&:hover,&:focus,&:active {
		.st0 { fill: darken($brand-accent, 15%); }
	}

	svg .st0 {
		@include transition(0.2s);
		fill: #ffffff;
	}

}

// Donate
.navbar .btn-donate {
	margin-top: 15px;

	// Text
	color: #ffffff;
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size: 27px;
	line-height: 1;

	@include transition(0.2s);

	&:hover,&:focus,&:active {
		@include scale(1.05);
		color: darken($brand-accent, 0%);
		text-decoration: none;
		.st0 { fill: darken($brand-accent, 0%); }
	}

	svg {
		width: 26px;
		height: 26px;
		margin-left: 5px;
		padding-top: 3px;
		fill: #ffffff;
	  vertical-align: initial;
		.st0 { @include transition(0.2s); }

	}
}



.nav-trans { background: transparent; }



.nav-bg {
	background: $brand-color1;

	.navbar-brand {
		&:hover,&:focus,&:active {
			.st0 { fill: darken($brand-color1, 15%); }
		}
	}

	.btn-donate {
		&:hover,&:focus,&:active {
			@include scale(1.1);
			.st0 { fill: darken($brand-color1, 15%); }
		}
	}
}



