// nav.scss


// Nav
nav.navbar {
	position: absolute;
	top: 0;
	z-index: 9500;
	width: 100%;
	min-height: 60px;
	margin: 0;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	border-radius: 0;

	// @include screen-sm { top: 25px; }
	// @include screen-md { top: 50px;	}

	.navbar-header { width: 100%; }

}


// Logo
.navbar-brand {
	width: 70px;
  padding: 15px 0;
  // Bootstrap override
  margin: 0 !important;
	&:hover,&:focus,&:active {
		.st0 { fill: darken($brand-accent, 30%); }
	}

	svg .st0 {
		@include transition(0.2s);
		fill: #ffffff;
	}

}

// Donate
.navbar .btn-donate {
	width: 28px;
	height: 28px;
	margin-top: 16px;
	@include transition(0.2s);

	&:hover,&:focus,&:active {
		@include scale(1.1);
		.st0 { fill: darken($brand-accent, 30%); }
	}

	svg .st0 {
		@include transition(0.3s);
		fill: #ffffff;
	}
}

.nav-trans { background: transparent; }
.nav-bg { background: $brand-color1; }



