// _another.scss

$z-index-base:         0;
$z-index-max-top:      1000;
$z-index-max-bottom:  -1000;




// Step proccess
#picture-steps {
	height: 100%;
	// overflow: hidden;

	background-color: #249196;
	background-image: url('../img/bg-process.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70%;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;

		// Fall back for gradient
		background: rgba(65, 90, 104, 0.9);
		// #415a68
		background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.8) 0%, rgba(2,9,9,0.8) 6%, rgba(36,145,150,1) 99%, rgba(36,145,150,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(6%,rgba(2,9,9,0.8)), color-stop(99%,rgba(36,145,150,1)), color-stop(100%,rgba(36,145,150,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.8) 0%,rgba(2,9,9,0.8) 6%,rgba(36,145,150,1) 99%,rgba(36,145,150,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg,  rgba(0,0,0,0.8) 0%,rgba(2,9,9,0.8) 6%,rgba(36,145,150,1) 99%,rgba(36,145,150,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg,  rgba(0,0,0,0.8) 0%,rgba(2,9,9,0.8) 6%,rgba(36,145,150,1) 99%,rgba(36,145,150,1) 100%); /* IE10+ */
		background: linear-gradient(45deg,  rgba(0,0,0,0.8) 0%,rgba(2,9,9,0.8) 6%,rgba(36,145,150,1) 99%,rgba(36,145,150,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#249196',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}


// Step tracker (1of4)
#picture-steps .steps { display: none; }



// Content
#picture-steps .content {
	height: 100%;
	padding-top: 60px; // Height of nav
	padding-bottom: 50px; // Height of next and prev
}



// Body elements
#picture-steps .body {
	overflow: hidden;
	height: 100%;
}



// Next and previous
#picture-steps .actions {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		width: 50%;
		float: left;

		background-color: $brand-accent;
		@include transition(0.2s);
		text-align: center;

		// Hover, active state
		&:active, &:hover {
			background-color: darken($brand-accent,15%);
		}

		&:first-child {
			background-color: $brand-color1;

			&:active, &:hover {
				background-color: darken($brand-color1, 15%);
			}
		}
	}

	li > a {
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 15px;
		font-weight: 300;
		font-size: 14px;
	}
}



// Step section general styles
.step  {
} // end step



// Header style
.step header {
	padding: 8% 0 0;
	opacity: 1;

	// Selected word in header
	.selected-word {
		color: $brand-color1;
	}

	h2:after {
		content: '';
		display: block;
		height: 3px;
		width: 1.5em;
		background: #fff;
		opacity: 0.7;
		border-radius: 3px;
		margin-top: 10px;
	}

	.header { color: #fff; }

} // end step half

.step .step-bottom header {
	h2:after {
		background: #686868;
		opacity: 0.2;
	}
}



// Sections
.step-half {
	position: relative;
	height: 50%;

	&.is-open {
		overflow: scroll;
		-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
		.close { opacity: 0.3; }
	}

	&.collapsed {
		// //Arrow on complete
		// .selected-word:before {
		// 	content:'';
		// 	height: 30px;
		// 	width: 30px;
		// 	color: green;
		// 	float: right;
		// 	bottom: 0;
		// 	background-image: url('../img/icons/svg-arrow-right.svg');
		// }
	}

	&.step-bottom { background: #fff; }

}





#picture-steps-p-0 .step-half {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
}

// Top section
#picture-steps-p-0 .step-half.step-top {
	-webkit-transition-duration: 0.3s;
	    -ms-transition-duration: 0.3s;
	        transition-duration: 0.3s;

	-webkit-transform: translateY(0);
		  -ms-transform: translateY(0);
		      transform: translateY(0);

	&.is-open {
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
	}

}


// Bottom section
#picture-steps-p-0 .step-half.step-bottom {
	background: white;
	-webkit-transition-duration: 0.3s;
	    -ms-transition-duration: 0.3s;
	        transition-duration: 0.3s;

	-webkit-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	        transform: translateY(50%);

	&.is-open {
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
	}

	.header { color: $brand-color7; }
}



// Step list animations
.step-half .step-list {
	-webkit-transition-property: transform, opacity;
  -webkit-transition-duration: 0.4s, 0.3s;

	-webkit-transform: translateY(100px);
	    -ms-transform: translateY(100px);
	        transform: translateY(100px);

	opacity: 0;
}

.step-half.is-open .step-list {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);

	opacity: 1;
}






// Step list
.step-half .step-list ul {
	margin-bottom: 3em;
	padding: 0;
	list-style-type: none;

	li {
		// Line under item
		&:after {
			display: block;
			content: '';
			height: 1px;
			width: 100%;
			background-color: rgba(255,255,255, 0.2);
		}
	}

	li > a {
		display: block;
		padding: 15px 0;

		font-family: $font-family-sans-serif;
		text-transform: uppercase;
		font-size: 24px;
		// Smooth out headers
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;

	  &:hover, &:focus {
	  	text-decoration: none;
	  	box-shadow: 0px 1px #ececec;
	  }
	}
}




.step-half.step-top .step-list ul > li > a {
	color: white;
	&:hover {
		color: $brand-accent;
	}
}

.step-half.step-bottom .step-list ul > li {

	&:after {
		box-shadow: 0px 1px #ececec;
	}

	> a {
		color: $brand-color7;
		&:hover {
			color: $brand-accent;
		}
	}

}

.step p { color: white; }
.step-bottom .step-content p { color: $font-base-color; }



// Close button
.step-half .close {
	position: absolute;
	top: 2em;
	right: 0.3em;

	z-index: $z-index-max-top + 1;

	height: 35px;
	width: 35px;

	@include transition(0.3s);
	opacity: 0;
}









// Link areas cover entire relative parents with clickable area
.link-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	// Anchor will cover the whole item by default
	z-index: $z-index-base;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}





#picture-steps-p-1 {
	.step-half { overflow: visible; }

	.connect {
		position: absolute;
		bottom: 30px;
		width: 100%;

		@include screen-sm {
			bottom: 100px;
		}

	}
}

#picture-steps-p-1 .step-half,
#picture-steps-p-2 .step-half, {
	height: 50%;
}

.persons img {
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 200px;

	@include screen-sm {
		top: -8em;
		max-width: 500px;
	}

}






$overlay-height: 25%;

.color-overlay {
	position: absolute;
	height: $overlay-height;
	width: 100%;
	bottom: 0;

	opacity: 0.6;
  background-color: #29ADA8;
  text-align: center;
  @include transition(0.3s);
}

.words {
	display: block;
	position: absolute;
	height: $overlay-height;
	width: 100%;
	bottom: 13%;
	z-index: 1;

	color: #fff;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	text-align: center;

	span {
		position: relative;
		display: block;
		font-size: 38px;

		@include screen-sm { font-size: 64px; }

		line-height: 1em;
		margin: 0;
		padding: 0;
	}

	span:first-child {
		top: -7px;
		color: #333;
	}

	span:last-child {
		top: -18px;

		@include screen-sm { top: -28px; }
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}

}






.img-color {
	position: relative;
	max-width: 200px;
	margin: 0 auto;

	@include screen-sm {
		max-width: 350px;
		margin: 4em auto;
	}

	img {
		max-width: 100%;
		-webkit-filter: grayscale(100%);
	  -moz-filter: grayscale(100%);
	  -ms-filter: grayscale(100%);
	  -o-filter: grayscale(100%);
	  filter: grayscale(100%);
	  filter: gray; /* IE 6-9 */
	}

	.img-canvas:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 25%;
		z-index: 1;

		height: 100%;
		width: 100%;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+70,1+100 */
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}



	.link-area {
		z-index: 500;
	}

}

#status {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}




.share-social {
	padding: 0;
	margin: 1.5em 0 2em;
	list-style-type: none;

	> li {
		display: inline;
		text-align: center;

		> a {
			display: inline-block;
			width: 24%;
			font-size: 1.5em;
		}
	}
}

