// _section-instragram-grid.scss

// Instagram grid
.gallery-grid {
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: #fff;
	z-index: 0;

	.header { margin-bottom: 1em; }

	img { margin-bottom: 2em; }

	.view-more {
		display: block;
		margin-top: 2em;
		text-align: center;
	}
}

#info {

	.gallery-grid {
		padding-top: 0;
		margin-top: -70px;
		background-color: transparent;

		@include screen-sm { margin-top: -120px; }

		.header { display: none; }
	}
}