// section-about.

.about {
	position: relative;
	background-color: #79B6CB;
	background-image: url('../img/bg-bg.jpg');
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	color: #fff;
	padding: 1em 0 3em;

	@include screen-sm {
		background-size: contain;
		padding: 6em 0 10em;
	}

	&:before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background: #4A4A4A;
		opacity: 0.4;
	}

	header {
		text-align: center;
		padding: 4em 0;
	}

	.header {
		color: #fff;
		margin-bottom: 0;
	}

	.sub-heading {
		color: #fff;
	}

	p { color: #fff; }

	.btn-link { margin-top: 2em; }

}