footer.footer
 .container
  .row
    .col-sm-8
      p 2015 All Rights Reserves | #[a(href="http://oasescenter.org") Oasis Center ] More to Youth

    .col-sm-4.text-center
      ul.social-footer
        li
          a(href="#")
            i.fa.fa-facebook
        li
          a(href="#")
            i.fa.fa-twitter
        li
          a(href="#")
            i.fa.fa-instagram
        li
          a(href="#")
            i.fa.fa-tumblr

#modal-error.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h3#myModalLabel.modal-title.text-center Please Select Some More Words
      // .modal-body
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Ok!
