div#modal-help.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalHelp')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h3.header.modal-title.text-center There's More to Youth
      .modal-body.text-center
        p Connect with Facebook to turn your existing Facebook profile picture into your own customized campaign photo.
      .modal-footer.text-center
        a.btn.btn-main.cta(href="/picture") Make Your Picture