div#modal-help.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalHelp')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h3.header.modal-title.text-center Oasis Center More to Youth Campaign
      // .modal-body
      .modal-footer.text-center
        button.btn.btn-main(type='button', data-dismiss='modal') Do something