// Navbar
nav.navbar.nav-bg
  .container
    a.navbar-brand(href='/')
      include ../partials/svg-logo.html
    a.btn-donate.pull-right(href='#', data-toggle='modal', data-target='#modal1')
      include ../partials/svg-icon-donate.html