// Navbar
nav.navbar.nav-trans
  .container
    a.navbar-brand(href='/')
      include ../partials/svg-logo.html
    a.btn-donate.pull-right(href='https://www.oasiscenter.org/donate.html') Donate
      //- include ../partials/svg-icon-donate.html