// Preloader
.preloader
  img(src='img/loader.gif', alt='Preloader image')
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fagh1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag
    h1.header Nick is a fag