section.gallery-grid
  .container
    h2.header.text-center The others

    .row
      @foreach ($allUsers as $currentUser)
      .col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/{{ $currentUser['image_path'] }}")
      @endforeach
    .view-more
      a.btn.btn-main View More