//- section-about.jade

section.about
  .container
    header
      h2.header About Oasis Center
      span.sub-header Where Youth Grow, Thrive and Create Positive Change
    .row
      .col-sm-6
        p
          | The teen years are a difficult time for anyone. Challenges posed by peer pressure, drugs, academic demands and even sexual orientation force many young people to make difficult choices that can complicate their lives even more.
      .col-sm-6
        p
          | Oasis is here to help at-risk youths navigate tricky waters of the teenage years with a wide range of programs that are designed to empower them and make them aware of their potential, turning them into happy, well-adjusted adults.
        a.btn-link(href='https://www.oasiscenter.org/#about', target='_blank')
          | Learn More at oasiscenter.org
          i.icon-arrow
          // @import ../includes/svg-arrow-right.html