section.instragram-grid
  .container
    h2.header.text-center Instagram

    .row
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
      .col-sm-4
        img.img-max(src="http://fillmurray.com/300/300")
    .view-more
        a.btn-main.veiw-more View More