section.help
  .container
    .row
      .col-sm-offset-6.col-sm-6
        h2.header How you can help
        p
          | You have the power to make a difference in a teen’s life. At Oasis, we value each relationship we have with every supporter and count on you to help us get the job done. To find out how you can donate click on the button below.
        a.btn.btn-main.space-top(href='https://www.oasiscenter.org/donate.html', target='_blank') Make a Donation