section.gallery-grid
  .container
    h2.header.text-center The others

    .row
      @foreach ($allUsers as $currentUser)
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/{{ $currentUser['image_path'] }}")
      @endforeach

      // TEMP
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/img/gal1.png")
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/img/gal2.png")
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/img/gal3.png")
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/img/gal4.png")
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/img/gal5.png")
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/img/gal2.png")
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/img/gal3.png")
      .col-xs-6.col-sm-4
        a(href="/profile/{{$currentUser['facebook_user_id']}}")
          img.img-max(src="/img/gal4.png")

    .view-more
      a.btn.btn-main(href="/gallery") View More Pictures