<script type="text/javascript">

   
    $(function(){
        $('#fbTest').on('click',function(){
            var userImagePath = '';
            @if(isset($user))
                userImagePath = '{!! $user->image_path !!}';
            @endif
            
            FB.ui({
              method: 'share',
              link: 'https://developers.facebook.com/docs/',
              caption: 'A new Caption',
              href: _globalObj._root_url,
              picture: _globalObj._root_url + userImagePath
          }, function(response){});
        });
    });
    
</script>