@if (isset($user) && Auth::check())
@if ($user->facebook_user_id == Auth::user()->facebook_user_id)

div.share-block
  h3.sub-header Share Your Photo
  <a href="https://www.facebook.com/dialog/share?app_id=1467629810225761&amp;href=http://moretoyouth.com/profile/{!! $user->facebook_user_id !!}&amp;display=popup&amp;picture=http://moretoyouth.com/{!! $user->image_path !!}&amp;redirect_uri=http://moretoyouth.com/profile/{!! $user->facebook_user_id !!}" alt="Facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/share"  data-text="Oasis Awareness Campaign" data-via="oasis" data-size="large" data-count="none" data-hashtags="oasis" alt="Twitter"><i class="fa fa-twitter"></i></a>
  <a href="/{{ $user->image_path }}" id="downloadLink" download="{{ str_slug($user->name)}}.png" alt="Download"><i class="fa fa-download"></i></a>
@endif
@endif

@unless (Auth::check())
div.share-block
  a.btn.btn-main(href="/picture") Create Your Own Picture
@endunless